  .weatherWid {
    border: 5px solid rgb(72, 161, 221);
    /* border-radius:  */
    background-color: #5bb5ec;
    color: white;
    margin: 1em;
    padding: 1em;
    display: inline-flex;
    width: fit-content;
    gap: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    border-radius: .2em;
  }
    
  .weatherDetails {
    color: #d7e8f3;
    letter-spacing: .5px;
  }
  
  .weatherCity {
    color: white;
    letter-spacing: .25px;
  }

  .weatherTemp{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  /* .weatherIcon {
    width: 70%;
    } */
  
    
    /*

    @keyframes slidein {
      300% {
        opacity: 0;
        transform: translateY(-2000px);
     }
     60% {
        opacity: 1;
        transform: translateY(45px);
     }
     80% {
        transform: translateY(-30px);
     }
     100% {
        transform: translateY(0);
     }
    } 
   */

  
  