
.dateTime{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    font-family:Arial, Helvetica, sans-serif
}

.date {
    font-size: 1rem;
    padding: 5px;
}

.time {
    font-size: 1rem;
    padding: 5px;

}