.AppContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

/* body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera } */




body {
  overflow-x: hidden; 
}

.container {
width: 99vw;
height: auto;
width: 100%;
margin-left: auto;
margin-right: auto;
padding: 1em;

border: 1px solid orange;

}

.heading, .content {
  margin: 1em;
  padding: 1em;

  border: 1px solid orange;


  display: flex;
  flex-direction: column;

  text-align: left;
}