.AppContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}




body {
  overflow-x: hidden; 
  overflow-y: scroll;
  /* overflow: overlay; */
}

body::-webkit-scrollbar {
  /* display: none;
  -ms-overflow-style: none;  
  scrollbar-width: none;   */
  /* background-color: rgb(122, 26, 58); */
  width: 6px;
  background-color: transparent;
}

/* body::-webkit-scrollbar-button {
  background-color: rgb(20, 177, 33)
} */

body::-webkit-scrollbar-thumb {
  background: #000;
}

Link, a {
  text-decoration: none;
}

.container {
width: 99vw;
height: auto;
width: 100%;
margin-left: auto;
margin-right: auto;
padding: 1em;
border: 1px solid orange;
}

.heading, .content {
  margin: 1em;
  padding: 1em;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  text-align: left;
}