.AppContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

/* body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera } */




body {
  overflow-x: hidden; 
}