.apodContainer {
    display: flex;
    flex-direction: column;
    width: 99vw;
    padding: 1px;
    height: auto;
    margin-bottom: 10%;
}

.apodContent {
    display: flex;
    flex-direction: column;

}

.apodNasaHeader {
    font-size: 1.25vw;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 3%;
}
.apodDate{
    font-size: 1.5vw;
}
.apodImg {
    width: auto;
    border-radius: .65em;
    height: auto;
    max-height: 100vh;
}

.apodDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.apodTitle{
    font-size: 4.5vw;
    margin: 1%;
}
.apodExplanation {
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    justify-content: center;
    align-items: center;
}

.apodDate {
    margin-bottom: 2%;
}

.apodExplanation {
    font-size: 1vw;
}
