.apodContainer {
    display: flex;
    flex-direction: column;
    width: 85vw;
    padding: 1px;
    height: auto;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}

.apodContent {
    display: flex;
    flex-direction: column;
}

.nasaHeader{
    font-size: 4vw;
    padding: 1.75%;
    margin: 1rem;
    border-radius: .5em;
    font-weight: bold;
    height: 9vh;
    color: rgb(36, 196, 196);
    text-align: left;
    margin-left: -5rem;
}

.apodNasaHeader {
    font-size: 3vw;
    text-align: left;
    border-radius: .5em;
    padding: 1.75%;
    background-color: rgb(36, 196, 196);
    color: white;
    font-weight: bold;
    height: 9vh;
    }

.apodDate{
    font-size: 2.4vw;
 
}
.apodImg {
    max-width: 100%;
    border-radius: .65em;
    height: auto;
    max-height: 100vh;
}

.apodDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    text-align: left;
}

.apodTitle{
    font-size: 3.5vw;
    margin: 1%;
    text-align: left;
    padding: 2%;
}
.apodExplanation {
    font-size: 1.5vw;
    text-align: left;
    padding-left: 8%;
    padding-right: 8%;
    font-style: italic;
    line-height: 1.85;
    background-color: #ffebf9;
    margin-top: 2%;
    border-radius: .5em;
}

.apodBtn {
    background-color: #ffebf9;
    padding: 1%;
    border-radius: .5em;
    letter-spacing: 1px;
    font-size: 1.25vw;
    border: pink;
}

.randomContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: baseline;
    margin: 1rem;

}

.randomItem {
    width: 40%;
    margin: .2rem;
    display: inline-block;
}

.randomImg {
    width: 40%;
    height: auto;
}

.randomHeader{
    margin: 1rem;
}
.apodDateHeader{
 
    font-size: 3vw;
    text-align: left;
    border-radius: .5em;
    padding: 1.75%;
    background-color: rgb(36, 196, 196);
    color: white;
    font-weight: bold;
}

.pickDate {
    display: flex;
    align-items: center;
    background-color: rgb(36, 196, 196);
    border-radius: .5em;
    height: 9vh;
    margin: 1rem;
    width: 100%;
}

.dateSubmit {
    background-color: rgb(136, 102, 230);
    padding: .5em;
    border-radius: .5em;
    font-size: 2.35vw;
    color:rgb(254, 255, 255);
    border: 3px solid rgb(144, 103, 221);

}

.dateSubmit:hover {
    background-color: rgb(199, 157, 233);
 
}

.dateInput {
    background-color: white;
    padding: .5em;
    border-radius: .5em;
    font-size: 2.35vw;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    margin-left: 2em;
    margin-right: 1em;
}

.randomItemTitle {
    font-size: 1.6vw;
}

.randomInput {
    background-color: white;
    padding: .5em;
    border-radius: .5em;
    font-size: 2.35vw;
    font-family: Arial, Helvetica, sans-serif;
    width: 70px;
    margin-right: 1em;
 
}


.dateContainer {
    margin-bottom: 5%;
}


